<h3>推播通知首頁    <%=link_to "建立推播", new_admin_notification_path, :class => 'btn btn-success'%></h3>

<table class="table">
  <tr>
    <td>user_id</td>
    <td>user_name</td>
    <td>主題</td>
    <td>時間</td>
    <td>內容</td>
    <td>已讀？</td>
    <td>刪除</td>
  </tr>
  
  <% @notifications.each do |notification|%>
    <tr>
      <td>
        <%if notification.user%>
          <%=notification.user.id%>
        <%else%>
          All
        <%end%>
      </td>
      <td>
        <%if notification.user%>
          <%=notification.user.name%>
        <%else%>
          All
        <%end%>
      </td>
      <td>
        <%=notification.title%>
      </td> 
      <td>
        <%=notification.created_at%>
      </td>
      <td>
        <%=notification.content%>
      </td> 
      <td>
        <%if notification.user%>
          <%if notification.checked%>
            已讀
          <%else%>
            未讀
          <%end%>
        <%else%>
          N/A
        <%end%>
      </td>
      <td>
        <%=link_to "delete", admin_notification_path(notification), :method =>"delete", :class => "btn btn-danger btn-sm"%>
      </td>
    </tr>
  <%end%>
</table>