<div class="col-md-3 user-profile">
  <h3>
    <%= link_to user_path(@user) do%>
      <%= image_tag (current_user.photo), style: "width: 100px; height: 100px; display: inline; border-radius: 10px; position: relative; left: 10px; margin:10px;" %>
    <%end%>
    <%=@user.name%>
    <small><%=@user.nickname%></small>
    
  </h3>
  <p class="col-md-12">
    <%=@user.about%>
  </p>
  <% (0..@user.free_star_count).each do |star_num|%>
    <%if star_num != 0%>
      <i class="fa fa-star"></i>
    <%end%>
  <%end%>
  <br>
  <div id="fa-star-money">
    <% (0..@user.money_star_count).each do |star_num|%>
      <%if star_num != 0%>
        <i class="fa fa-star" ></i>
      <%end%>
    <%end%>
  </div>
</div>