<div class="col-md-offset-2 col-md-8">
  <h1>
  親愛的用戶
    <%if current_user%>
      <%= current_user.profile.username%>
    <%end%>
  </h1>
  <h3>若您在使用體驗上有任何問題，麻煩不吝提供意見</h3>

  <div class="col-md-12 ">
    <%=form_for @mail, :url => send_mail_users_path do |f| %>
      <% if @mail.errors.any? %>
        <ul>
          <% @mail.errors.messages.each do |m| %>
            <div class="alert alert-danger" role="alert">
              <%= m[1][0] %>
            </div>
          <% end %>
        </ul>
      <% end %>


      <%= f.label :mail_title_id, "主題" %>
      <%= f.select :mail_title_id, MailTitle.all.map{|x| [x.name,x.id]}, class: 'form-control' %>

      <%= f.label :user_email, "使用者信箱" %>
      <%= f.text_field :user_email, class: 'form-control' %>

      <div class="form-group">
        <%= f.label :content, "內容(提供編輯器，必要時可使用附圖或影片功能佐助)" %>
        <%= f.text_area :content, :class =>"froala-editor"%>
      </div>

      <%= f.submit "寄送", class: "btn btn-primary form-control" %>
    <%end%>
  </div>

<script>
  $(function() {
    $('.froala-editor').froalaEditor({
      imageUploadURL: '/attachment/upload.json',
      imageUploadMethod: 'POST',
      placeholderText: '請輸入您的內容',
    });
  });
</script>

</div>
