 <h1>
   <i class="fa fa-user">個人專區</i> 
   <%=link_to "+ 新增歌曲", new_song_path, :class=> "btn btn-success btn-lg"%> 
 </h1>
 <hr>

<%= render "header"%>

<div class="row" id="user-upload-card">
  <div class="row col-md-9" id="user-song">
    <%@songs.each do |s|%>
      <div class="col-md-12 song">
        <div class="iframe-rwd col-md-3">

          <%if s.source == "youtube"%>
            <iframe src="https://www.youtube.com/embed/<%= s.link%>" frameborder="0"></iframe>

          <%elsif s.source == "17sing"%>
            <%=link_to song_path(s) do%>
              <%= image_tag ("tape_blue.png"), style: "display: inline-block;" %>
            <%end%>

          <%elsif s.source == "happychang"%>
            <%=link_to song_path(s) do%>
              <%= image_tag ("tape.png"), style: "display: inline-block;" %>
            <%end%>

          <%elsif s.source == "rcsing"%>
            <%=link_to song_path(s) do%>
              <%= image_tag ("tape_yellow.png"), style: "display: inline-block;" %>
            <%end%>
          <%end%>
        </div>
        <div class="song-footer col-md-6">
          <%=link_to song_path(s) do%>
            <div class="link-word">
              <h4><%=s.name%> </h4> 
          <%end%>
          <span class="pull-right"><i class="fa fa-clock-o"></i> <%=s.created_at.strftime('%F')%></span>
          </div>
          <div class="link-word">
            <i class="fa fa-microphone"></i> <%=@user.profile.username%>
          </div>

          <div class="pull-left" id="like-btn">
            <h4>
              <% if s.display == "hide"%>
                <%= link_to song_path(s) do%>
                  <span class="fa fa-lock">不公開</span>
                <%end%>
              <%else%>
                <%= link_to song_path(s) do%>
                  <span class="fa fa-headphones"><%= s.view_counts %></span>
                <%end%>
              <%end%>

              <%= link_to song_path(s) do%>
                <span class="fa fa-commenting-o"><%= s.comments.size %></span>
              <%end%>
              <%= link_to like_song_path(s), :remote => true, :id => "like-btn-#{s.id}" do %>
                <span id ="like_number-<%=s.id%>" class ="hvr-pulse-grow <%=song_like_class(s)%> "><%= s.like_users.size %></span>
              <% end %>
            </h4>
          </div>
          <div class="clearfix"></div>

          <div class="song-control">
            <div class="dropup pull-left col-md-4" id="user-upload-dropdown">
              <div class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= render :partial => "/songs/song_usage", :locals => { :@song=>s}%>

                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <%= link_to song_path(s, :song => {:use =>"study"}), :method =>"PATCH" do%>
                    <i class="fa fa-star"></i> 請老師講評
                  <%end%>
                </li>
                <li>
                  <%= link_to song_path(s, :song => {:use =>"hide"}), :method =>"PATCH" do%>
                    <i class="fa fa-suitcase"></i> 隱藏不公開  
                  <%end%>
                </li>
              </ul>
            </div>
            <%if current_user == @user%>
              <div class="pull-right">
                <%=link_to edit_song_path(s) do%>
                  <i class="fa fa-pencil-square" data-toggle="tooltip" data-placement="bottom" title="編輯歌曲內容"></i>
                <%end%>
                <%=link_to song_path(s), method:"delete",data: { confirm: "確定刪除?" } do%>
                  <i class="fa fa-trash " data-toggle="tooltip" data-placement="bottom" title="刪除歌曲"></i>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>

        <% if s.last_teacher_video_comment%>
          <div class="iframe-rwd col-md-2">
            <iframe src="https://www.youtube.com/embed/<%=s.last_teacher_video_comment.link%>" frameborder="0">
            </iframe>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

