<h2><i class="fa fa-graduation-cap">教學區</i></h2>
<%=link_to "最熱門", dojo_songs_path(:order => "popular"),:class =>"btn btn-danger"%>
<%=link_to "最近更新", dojo_songs_path(:order => "updated"),:class =>"btn btn-info"%>
<%=link_to "最新建立", dojo_songs_path(:order => "created_at"),:class =>"btn btn-success"%>
<hr>

<div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
  <%@songs.each do |s|%>
    <div class="box col2 hvr-grow">
      <div>  
        <%= image_tag (s.user.photo), style: "width: 40px; height: 40px; display: inline; margin: 10px;" %>
        <% if s.user.profile.username.size > 10 %>
          <span class="h4"><%= s.user.profile.username[0,10]%>...</span>
        <%else%>
          <span class="h4"><%= s.user.profile.username%> 
            <small class="pull-right">
              <%= time_ago_in_words(s.created_at) %>
            </small>
          </span>
        <%end%>
      </div>
      
      <div class="iframe-rwd">
      
        <%if s.source == "youtube"%>
          <iframe src="https://www.youtube.com/embed/<%=s.link%>" frameborder="0"></iframe>

        <%elsif s.source == "17sing"%>
          <iframe src="http://17sing.tw/song/<%=s.link%>" frameborder="0"></iframe>

        <%elsif s.source == "happychang" %>
          <%=link_to song_path(s) do%>
            <%= image_tag ("tape.png"), style: "display: inline-block;" %>
          <%end%>

        <%elsif s.source == "rcsing"%>
          <%=link_to song_path(s) do%>
            <%= image_tag ("tape_yellow.png"), style: "display: inline-block;" %>
          <%end%>
        <%end%>

      </div>
      <div class="song-footer">
        <%=link_to song_path(s) do%>
          <div class="link-word">
            <span><%= s.name %></span>
          </div>
        <%end%>
        <!--
        <span class="fb-share-button pull-left" data-href="http://www.imuzi.co/songs/<%=s.id%>" data-layout="button"></span>
        -->

        <div class="clearfix"></div>
        <div class="pull-right" id="like-btn">
          <h4>
            
            <%= link_to song_path(s) do%>
              <span class=""><i class="fa fa-headphones"></i> <%= s.view_counts %></span>
            <%end%>
            
            <%= link_to song_path(s) do%>
              <span class="fa fa-commenting-o"><%= s.comments.size %></span>
            <%end%>
            
            <%= link_to like_song_path(s), :remote => true, :id => "like-btn-#{s.id}" do %>
              <span id ="like_number-<%=s.id%>" class="hvr-pulse-grow <%=song_like_class(s)%> "> <%= s.like_users.size %> </span>
            <% end %>
          </h4>
        </div>  
        <div class="clearfix"></div>
      </div>

      <% if s.last_teacher_video_comment%>
        <div class="panel-title comment-footer">
        老師評論
          <div class="iframe-rwd">
            <iframe src="https://www.youtube.com/embed/<%=s.last_teacher_video_comment.link%>" frameborder="0">
            </iframe>
          </div>
        </div>
      <%end%>

      <% if s.last_teacher_video_comment.blank? && current_user && current_user.role =="teacher"%>
        <div class="comment-footer">
          <%= render :partial => "teacher_comment", :locals => { :@song => s, :@comment => @comment} %>
        </div>
      <%end%>
    </div>
  <%end%>
</div>