<div class="row">
  <div class="col-md-8">
    <div class="iframe-rwd">
      <iframe src="https://www.youtube.com/embed/<%=@song.link%>" frameborder="0">
      </iframe>
    </div>
    <h3>歌曲名稱:<%=@song.name%></h3>
    <h3>原唱歌手:<%=@song.singer%></h3>
    <h3>學習對象或唱腔:<%=@song.study_target%></h3>
    <h3>作品介紹-選此首歌的意義或想問的問題</h3>
    <h4><div><%=@song.introduction%></div> </h4>


    <div >
      <%if flash[:success].present?%>
        <div class="alert alert-success text-center" role="alert"><%= flash[:success] %></div>
      <%end%>

      <%if flash[:alert].present?%>
        <div class="alert alert-danger text-center" role="alert"><%= flash[:alert] %></div>
      <%end%>
      <div class="panel panel-default" id="comment-discuss-area">      
        <div class="panel-heading">
          <h3 class="panel-title">作品討論</h3>
        </div>

        <%@pro_comments.each do |c|%>
          <div class="panel-body">
            <span class=" <%=comment_class_by(c.role)%>">
              <%= image_tag (c.user.photo), style: "width: 40px; height: 40px; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;" %>
              <%=link_to c.user.profile.username, user_path(c.user)%>
              <%if c.role =="teacher"%>
                <span> -老師評論-</span>
              <%elsif c.role =="student"%>
                <span> -學生回覆-</span>
              <%end%>

              <%if current_user && current_user.role =="teacher"%>
                <% if c.display == "hide"%>
                  <span>(隱藏)</span>
                <%else%>
                  <span>(公開評論)</span>
                <%end%>
              <%end%>
              
              <span class="pull-right">
                <br>
                <%if c.user == @user%>
                  <%=link_to "編輯", edit_comment_path(c), :class=>"btn btn-info btn-xs"%>
                  <%=link_to "刪除", comment_path(c), :method=>"delete", data: { confirm: "Are you sure?" }, :class=>"btn btn-danger btn-xs"%>
                <%end%>
              </span>

              

              <%if c.display == "public" || current_user == c.user || current_user == @song.user || current_user.role == 'teacher'%>
                <div class="col-md-offset-2"><%=c.comment%></div>
                
                <%if c.link%>
                  <br>
                  <div>
                    <iframe src="https://www.youtube.com/embed/<%=c.link%>" frameborder="0"></iframe>
                  </div> 
                <%end%>

                <% if c.logo.exists? %>
                  <br> 
                  <%= image_tag(c.logo.url(:medium))%>
                <%end%>

              <%elsif c.display == "hide"%>
                <br>
                此內容僅限作品學生及回覆老師觀看

              <%end%>
            </span>

            
            <div class="clearfix"></div>
          </div>
        <%end%>
      </div>

      <hr>
    
      <%if current_user && (current_user == @song.user ||(current_user.role && current_user.role == "teacher")) %>
        <%if current_user == @song.user%>
          <% role = "student" %>
        <%else%>
          <% role = "teacher"%>
        <%end%>
        <h3>
          發言身份
          <%= image_tag (current_user.photo), style: "width: 40px; height: 40px; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;" %>
              <%=current_user.profile.username%>   <small>(<%=role%>)</small>
        </h3>

        <%= form_for @comment, :url => comments_path(song: @song, role: role) do |f| %>
          <%= f.label :comment, "文字內容" %>
          <%= f.text_area :comment, class: 'form-control' %>

          <%= f.label :link, "Youtube" %>
          <%= f.text_field :link, :placeholder => "請貼上 Youtube 完整連結", class: 'form-control' %>

          <div class="form-group">
            <%=f.label :logo, "LOGO"%>
            <%=f.file_field :logo%>

            <% if @comment.logo.exists? %>
              <%= image_tag(@comment.logo.url(:thumb))%>
              <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
            <% end %>
          </div>

          <%if role == "teacher"%>
            <div>
              <input  type="radio" id="radio2" name="comment[display]" class="switch" value="public" checked="checked"/>
              <label for="radio2">公開給所有學生</label>
            </div>
            <br>
            <br>  
            <div>
              <input  type="radio" id="radio1" name="comment[display]" class="switch" value="hide"/>
              <label for="radio1">除了此學生，不公開給其他學生觀看</label>
            </div>

          <%elsif role = "student"%>
            <div>
              <input  type="radio" id="radio2" name="comment[display]" class="switch" value="public" checked="checked"/>
              <label for="radio2">公開給所有人</label>
            </div>
            <br>
            <br>  
            <div>
              <input  type="radio" id="radio1" name="comment[display]" class="switch" value="hide"/>
              <label for="radio1">不公開，除了老師之外，其他人看不到</label>
            </div>
          <%end%>
          <br>
          <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
        <% end %>
      <%end%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div id="song-user-image"><%= image_tag(@song_user.picture || @song_user.profile.image)%></div>
          </div>
          <div class="col-md-8">
            <h3><%=link_to @song_user.profile.username, user_path(@song_user)%></h3>
            <% if @song_user.profile.about && @song_user.profile.about.size > 50 %>
              <div><%=@song_user.profile.about[0,50]%>...</div>
            <%else%>
              <div><%=@song_user.profile.about%></div>
            <%end%>
            
          </div>
        </div>  
      </div>
    </div>

    <div class="row">
      <div>
        <h3>歌曲名稱:<%=@song.name%></h3>
        <h3>原唱歌手:<%=@song.singer%></h3>
        <%if current_user == @song.user || current_user.admin?%>
          <div class="pull-right" id="song-control">
            <%=link_to edit_song_path(@song) do%>
              <i class="fa fa-pencil-square" data-toggle="tooltip" data-placement="bottom" title="編輯歌曲內容"></i>
            <%end%>
            <%=link_to song_path(@song), method:"delete",data: { confirm: "確定刪除?" }, :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"刪除歌曲" do%>
              <i class="fa fa-trash "></i>
            <%end%>
          </div>
        <%end%>
      </div> 
    </div>
    
    <br>
    <div class="row">
      <div class="col-md-12" id="song-fa-img">
        <div class="hvr-buzz-out">
          <span>
            <i class="fa fa-headphones"> <%= @song.view_counts %></i>
          </span>
        </div>
        <br>
        <%= link_to '#comment-discuss-area', :id =>"comment-discuss-area-btn", :class => " tip hvr-box-shadow-outset " do %>
          <span data-tooltip="點擊前往留言">
            <i class="fa fa-commenting-o"> <%= @song.comments.size %></i> 
          </span>
        <% end %>
        <br>
        <%= link_to like_song_path(@song), :remote => true, :id => "like-btn-#{@song.id}" do %>
          <span id ="like_number-<%=@song.id%>" class="hvr-pulse-grow <%=song_like_class(@song)%> "> <%= @song.like_users.size %> </span>
        <% end %>
      </div>
    </div>
  </div>
  
  
</div>

<script>
  
  $('#comment-discuss-area-btn').click(function(){ $('html,body').animate({scrollTop:$('#comment-discuss-area').offset().top}, 800); }); //代表一個完整的執行區塊

</script>






