<div class="row">
  <div class="col-md-8">
    <div class="iframe-rwd">
      <iframe src="https://www.youtube.com/embed/<%=@song.link%>" frameborder="0">
      </iframe>
    </div>
    <br>
    <div>作品介紹:</div>
    <div><%=@song.introduction%></div>  
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div id="song-user-image"><%= image_tag(@song_user.picture || @song_user.profile.fb_image)%></div>
          </div>
          <div class="col-md-8">
            <h3><%=link_to @song_user.name, user_path(@song_user)%></h3>
            <div><%=@song_user.about%></div>
          </div>
        </div>  
      </div>
    </div>

    <div class="row">
      <h3>
        <div>歌曲名稱:<%=@song.name%></div>
        <div>原唱歌手:<%=@song.singer%></div>
      </h3> 
    </div>

    <div class="row">
      <div class="col-md-12" id="song-fa-img">
        <%= link_to '#', :class => "fa fa-eye" do %>
            <span><%= @song.view_counts %></span>
          <% end %>
          <%= link_to '#', :class => "fa fa-commenting-o" do %>
            <span><%= @song.comments.size %></span>
          <% end %>
          <%= link_to like_song_path(@song), :class => "#{song_like_class(@song)} ", :remote => true, :id => "like-btn-#{@song.id}" do %>
            <span id ="like_number-<%=@song.id%>"><%= @song.like_users.size %></span>
          <% end %>
      </div>
    </div>

    <%if flash[:success].present?%>
      <div class="alert alert-success text-center" role="alert"><%= flash[:success] %></div>
    <%end%>
    <%if flash[:alert].present?%>
    <div class="alert alert-danger text-center" role="alert"><%= flash[:alert] %></div>
    <%end%>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">老師評論</h3>
      </div>
        <%@comments.each do |c|%>
        <div class="panel-body">
          <span>
            <%=c.comment%>
          </span>
          <span class="pull-right">
            <%=c.user.name%>
            <%if c.user == @user%>
            <%=link_to "刪除", comment_path(c), :method=>"delete", data: { confirm: "Are you sure?" }, :class=>"btn btn-primary btn-xs"%>
            </span>
            <%end%>
          </span>
          <div class="clearfix"></div>
        </div>
      <%end%>
    </div>

    <%if current_user == @song.user||(current_user.role && current_user.role == "teacher") %>
      <%= form_for @comment, :url => comments_path(song: @song) do |f| %>
        <%= f.label :comment, "評論內容" %>
        <%= f.text_area :comment, class: 'form-control' %>
        <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
      <% end %>
    <%end%>
  </div>
</div>

<br>

<div class="col-md-8">
    <%if flash[:success].present?%>
      <div class="alert alert-success text-center" role="alert"><%= flash[:success] %></div>
    <%end%>
    <%if flash[:alert].present?%>
    <div class="alert alert-danger text-center" role="alert"><%= flash[:alert] %></div>
    <%end%>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> 觀眾評論</h3>
      </div>
        <%@comments.each do |c|%>
        <div class="panel-body">
          <span>
            <%=c.comment%>
          </span>
          <span class="pull-right">
            <%=c.user.name%>
            <%if c.user == @user%>
            <%=link_to "刪除", comment_path(c), :method=>"delete", data: { confirm: "Are you sure?" }, :class=>"btn btn-primary btn-xs"%>
            </span>
            <%end%>
          </span>
          <div class="clearfix"></div>
        </div>
      <%end%>
    </div>
      <%= form_for @comment, :url => comments_path(song: @song) do |f| %>
        <%= f.label :comment, "評論內容" %>
        <%= f.text_area :comment, class: 'form-control' %>
        <%= f.submit "確認送出", class: "btn btn-primary form-control" %>
      <% end %>
  </div>

