<div class="container" id="team-page">
  <h1><i class="fa fa-info-circle">使用指南</i></h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          <h1>網站目的：</h1>
          <h3>
            上傳“ 1 ”分鐘的唱歌影片（清唱或有音樂伴奏的皆可，推薦清唱）到你自己的YouTube帳號，將鏈接貼到本網站的個人頁面上，若選取“請老師講評”，老師會盡快針對上傳影片做講評或教學。
          </h3>
          <h3>
            每位新註冊的使用者有三次免費的 <span style= "color:red;">“請老師講評”</span> 額度，之後每個月有一次免費的 <span style= "color:red;">“請老師講評”</span>  額度。
          </h3>
        </li>
        <br>
        <br>
        <li>
          <h1>使用教學:<span style= "color:red;"> （推薦使用電腦以獲得最佳體驗）</span>  </h1> 
          <h3>
            使用電腦版能上傳影片可以得到最佳體驗，使用手機版目前只能瀏覽不能上傳，<span style= "color:red;">推薦使用電腦以獲得最佳體驗。</span>  
          </h3>  
        </li>
      </ul>
      <%= image_tag ("guide1.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide2.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide3.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide4.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide5.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide6.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide7.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide8.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide9.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide10.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      <%= image_tag ("guide11.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
    </div>
  </div>
</div>
