<h1>後台管理</h1>
<%=link_to "管理使用者", admin_users_path, :class => "btn btn-info btn-lg"%>
<%=link_to "管理信箱", mailbox_admin_users_path, :class => "btn btn-warning btn-lg"%>
<br>
<br>

<table class="table">
  <tr>
    <td>User Name</td>
    <td>Email</td>
    <td>Role</td>
    <td>刪除</td>
  </tr>
  <%@users.each do |u|%>
    <tr>
      <td><%= u.name%></td>
      <td><%= u.email%></td>
      <td>
        <%= form_for u, url: admin_user_path(u), :method => :PATCH , :class => "form" do |f|%>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%=f.select :role, [["normal","normal"],["admin","admin"],["teacher","teacher"]], :class => "form-control"%>
              </div>
              <div class="col-md-6">
                <%=f.submit "Update", :class => "btn btn-primary"%>
              </div>
            </div>
          </div>
        <%end%>
      </td>
      <td>
        <%=link_to "刪除", admin_user_path(u), :method=>"delete", data: { confirm: "Are you sure?" }, :class=>"btn btn-danger btn-xs"%>
      </td>
    </tr>
  <%end%>
</table>
