<table class="table">
  <tr>
    <td>user</td>
    <td>主題</td>
    <td>信箱</td> 
    <td>時間</td>
    <td>內容</td>
  </tr>
  
  <%@mails.each do |mail|%>
    <tr>
      <td>
        <%if mail.user%>
          <%=mail.user.name%>
        <%else%>
          匿名
        <%end%>
      </td>
      <td>
        <%if mail.mail_title%>
          <%=mail.mail_title.name%>
        <%else%>
          No title
        <%end%>
      </td> 
      <td><%=mail.user_email%></td>
      <td><%=mail.created_at%></td>
      <td>
        <%= raw mail.content%>
      </td> 
    </tr>
  <%end%>
</table>