<h1>後台管理</h1>
<%=link_to "管理使用者", admin_users_path, :class => "btn btn-info btn-lg"%>
<%=link_to "管理信箱", mailbox_admin_users_path, :class => "btn btn-warning btn-lg"%>
<br>
<br>

<table class="table">
  <tr>
    <td>user</td>
    <td>信箱</td> 
    <td>內容</td>
  </tr>
  
  <%@mails.each do |mail|%>
    <tr>
      <td>
        <%if mail.user%>
          <%=mail.user.name%>
        <%else%>
          匿名
        <%end%>
      </td>
      <td><%=mail.user_email%></td>
      <td>
        <%=simple_format(mail.content)%>
      </td> 
    </tr>
  <%end%>
</table>