<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to mains_path, class: "navbar-brand" do %>
        <%= image_tag ("mic-icon2.png"), style: "width: 27px; height: 27px; display: inline-block;" %> iMuzi
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li>
            <%=link_to upload_user_path(current_user), :class=>( (current_page?(upload_user_path(current_user)))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"快速上傳自己的歌曲" do %>
              <i class="fa fa-upload" >上傳</i>
            <%end%>
            <%if teacher_comment_alert > 0 %>
              <div class="btn btn-warning btn-xs" id="btn-alert">
                <%=teacher_comment_alert%>
              </div> 
            <%end%>
          </li>
        <%end%>
           
        <li>
          <%=link_to dojo_songs_path, :class=>( (current_page?(dojo_songs_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"看看別人都問些什麼問題？" do%>
            <i class="fa fa-graduation-cap"> 教學</i>
          <%end%>
        </li>
        <!--
        <li>
          <%=link_to battle_songs_path, :class=>( (current_page?(battle_songs_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"個人秀專區"  do%>
            <i class="fa fa-microphone"> 表演</i>
          <%end%>
        </li> 
        -->
        <li>
          <%=link_to team_members_mains_path, :class=>( (current_page?(team_members_mains_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"是誰指導你的歌藝？"  do%>
            <i class="fa fa-users"> 師資介紹</i>
          <%end%>
        </li> 

        <li>
          <%=link_to guide_mains_path, :class=>( (current_page?(guide_mains_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"網站怎麼使用呢？"  do%>
            <i class="fa fa-info-circle">使用指南</i>
          <%end%>
        </li> 

        <li>
          <%=link_to "https://www.facebook.com/imuzico/",:id =>"nav-fanpage-link", :class =>"btn" do%>
            <i class="fa fa-facebook-square"> 粉絲專頁</i>
          <%end%>
        </li>
        
        <% if current_user && current_user.admin?%>
          <li>
            <%= link_to'後台管理', admin_users_path, :class=>( (current_page?(admin_users_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"管理員使用"  %>
          </li>
          <%if mail_alert > 0 %>
            <div class="btn btn-warning btn-xs" id="mail-alert">
              <%=mail_alert%>
            </div> 
          <%end%>
        <%end%>

        <% if current_user && (current_user.teacher? || current_user.admin?)%>
          <li>
            <%= link_to'教師專區', admin_songs_path, :class=>( (current_page?(admin_songs_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"教師專用"%>
          </li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to contact_users_path, :class=>( (current_page?(contact_users_path))? "link_active" : "link"), :"data-toggle"=>"tooltip", :"data-placement"=>"bottom" , :title=>"聯絡我們" do %>
            <span class="fa fa-envelope" aria-hidden="true">        </span>
          <% end %>
        </li>
        
        <%if !current_user%>
          <li>
            <%= link_to clause_users_path do %>
              <span class="fa fa-file-text" aria-hidden="true"></span> 服務條款
            <% end %>
          </li>
          <li>
            <%= link_to '登入', register_path, class: "btn btn-info btn-lg" %>
          </li>
        <%end%>
        
        <%if current_user%>
          
            <li id="nav-dropdown" class="dropdown">
              <div href="#" id="nav-dropdown-a" class="dropdown-btn">
              
                <%= image_tag (current_user.photo), style: "width: 40px; height: 40px; display: inline; border-radius: 20px;" %>
                <% if current_user.profile.username.size > 10 %>
                  <%=current_user.profile.username[0,10]%>...
                <%else%>
                  <%=current_user.profile.username%>
                <%end%>
                <i class="fa fa-caret-down"></i>
              </div>

              <ul id="dropdown-menu" class="dropdown-menu dropdown-content" style="opacity: 0.9;" aria-labelledby="dropdownMenuDivider">
                <li>
                  <%= image_tag (current_user.photo), style: "width: 140px; height: 140px; display: inline; border-radius: 10px; position: relative; left: 10px;" %>
                </li>
                <li>
                  <%= link_to user_path(current_user)  do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 個人首頁
                  <% end %>
                </li>
                <li>
                  <%= link_to upload_user_path(current_user)  do %>
                    <span class="fa fa-upload" aria-hidden="true"></span> 上傳歌曲
                  <% end %>
                </li>
                <li>
                  <%= link_to clause_users_path  do %>
                    <span class="fa fa-file-text" aria-hidden="true"></span> 服務條款
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li id ="dropdown-logout">
                  <%= link_to('登出', destroy_user_session_path, :method => :delete)%>
                </li>
              </ul>
            </li>
          
        <%end%>
      </ul>  
      <!--
      <form class="navbar-form navbar-right search-form" role="search">
        <input type="text" class="form-control" placeholder="Search" />
      </form>
      -->
    </div>
  </div>
</nav>