<!DOCTYPE html>
<html>
<head>
  <title>線上歌唱講評教學第一把交椅 ｜iMuzi</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="中國好聲音先修班，實力派的明星歌手墊腳石，到錄音室錄demo帶，優先被經紀公司發掘，線上唱歌講評教學的第一把交椅，老師毫無保留的歌唱技巧指導；推薦搭配歡歌app並提供連結，一遍抵兩次，唱爽更唱好。"/>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1733214666896671');
fbq('track', 'ViewContent');
fbq('track', 'CompleteRegistration');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1733214666896671&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



</head>

<body>
  <%=render "layouts/nav"%>
  
  <%if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <%end%>
  <%if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <%end%>

  <div class="container">
    <h1>後台管理</h1>
    <%=link_to "管理使用者", admin_users_path, :class => "btn btn-info btn-lg"%>
    <%=link_to "管理信箱", mailbox_admin_users_path, :class => "btn btn-warning btn-lg"%>
    <%=link_to "管理信箱主題", admin_mail_titles_path, :class => "btn btn-warning btn-lg"%>
    <br>
    <br>

      <%= yield %>
  </div>

</body>
</html>
