<!DOCTYPE html>
<html>
<head>
  <title>iMuzi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <%=render "layouts/nav"%>
  
  <%if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <%end%>
  <%if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <%end%>

  <div class="container">
    <h1>後台管理</h1>
    <%=link_to "管理使用者", admin_users_path, :class => "btn btn-info btn-lg"%>
    <%=link_to "管理信箱", mailbox_admin_users_path, :class => "btn btn-warning btn-lg"%>
    <%=link_to "管理信箱主題", admin_mail_titles_path, :class => "btn btn-warning btn-lg"%>
    <br>
    <br>

      <%= yield %>
  </div>

</body>
</html>
