<!DOCTYPE html>
<html>
<head>
  <title>iMuzi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body style="padding: 0;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" id="nav-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to mains_path, class: "navbar-brand" do %>
          <%= image_tag ("mic-icon2.png"), style: "width: 27px; height: 27px; display: inline-block;" %> iMuzi
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= link_to '立即開始', dojo_songs_path, class: " btn btn-now btn-lg" %>
          <%= link_to '登入', register_path, class: "btn btn-info btn-lg" %>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>